<meta charset="utf-8">
<title>Nicolas Roybal | Portfolio</title>
<link rel="shortcut icon" href="styles/assets/this.ico" type="image/x-icon"></link>
<link rel="icon" href="styles/assets/this.ico" type="image/x-icon"></link>
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.4.0/balloon.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
