<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="https://use.fontawesome.com/d402f85af1.js">
    </script>
    <script type="text/javascript">
    (function(d, t){
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.src = "http://www.foxyform.com/js.php?id=862849&sec_hash=4ec28c36e89&width=350px";
       s.parentNode.insertBefore(g, s);
    }(document, "script"));
    </script>
  </head>
  <body>
    <main id="app">
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
