<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="http://use.fontawesome.com/d402f85af1.js">
    </script>
    <!-- Do not change the code! -->
    <script type="text/javascript">
    (function(d, t){
       var g = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       g.src = "http://www.foxyform.com/js.php?id=863031&sec_hash=b5a3a542ad6&width=350px";
       s.parentNode.insertBefore(g, s);
    }(document, "script"));
    </script>
    <!-- Do not change the code! -->
  </head>
  <body>
    <main id="app">
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
