/* Main CSS */
* {
  box-sizing: border-box;
}
body {
  /*opacity: .2;*/
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSJ3aGl0ZSI+PC9yZWN0Pgo8cGF0aCBkPSJNMjggNjZMMCA1MEwwIDE2TDI4IDBMNTYgMTZMNTYgNTBMMjggNjZMMjggMTAwIiBmaWxsPSJub25lIiBzdHJva2U9ImxpZ2h0Z3JleSIgc3Ryb2tlLXdpZHRoPSIxIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibGlnaHRncmV5IiBzdHJva2Utd2lkdGg9IjEiPjwvcGF0aD4KPC9zdmc+");
  font-family: Helvetica;
  margin: .4em;
}
a {
  color: white;
}
.title_letter1 {
  font-size: 3.5em;
  color: white;
  margin-left: 1.08em;
}
.title_letter1-2 {
  font-size: 3.5em;
  color: rgb(35, 68, 149);
  margin-left: 0.04em;
}
.title_letter2 {
  font-size: 3.5em;
  color: white;
  margin-left: 1.08em;
}
.title_letter2-2 {
  font-size: 3.5em;
  color: rgb(35, 68, 149);
  margin-left: 0.09em;
}
.hex {
  margin-left: 1.5em;
}
.new_hex {
  margin-left: 3.2em;
  margin-top: -1.6em;
}
.hex1 {
width: 0;
border-bottom: 30px solid rgb(35, 68, 149);
border-left: 52px solid transparent;
border-right: 52px solid transparent;
}
.hex2 {
  width: 104px;
height: 60px;
background: rgb(35, 68, 149);
}
.hex3 {
width: 0;
border-top: 30px solid rgb(35, 68, 149);
border-left: 52px solid transparent;
border-right: 52px solid transparent;
}

.hex_top {
width: 0;
border-bottom: 0.938em solid rgb(35, 68, 149);
border-left: 1.625em solid transparent;
border-right: 1.625em solid transparent;
}
.hex_middle {
width: 3.250em;
height: 1.875em;
background-color: rgb(35, 68, 149);
}
.hex_bottom {
width: 0;
border-top: 0.938em solid rgb(35, 68, 149);
border-left: 1.625em solid transparent;
border-right: 1.625em solid transparent;
margin-left: 0px;
}

.nav_bar {
  margin-left: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  position: fixed;
  padding-top: 3em;
  text-align: center;
}
.nav_button a {
  background-color: white;
  border: solid 2px rgb(35, 68, 149);
  color: #234495;
  margin-right: 1em;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.nav_button:hover a {
  background-color: rgb(35, 68, 149);
  border: solid 2px rgb(35, 68, 149);
  color: white;
  margin-right: 1em;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.anchor_button {
  background-color: white;
  border: solid 2px rgb(35, 68, 149);
  color: #234495;
  margin-right: 0.4em;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.anchor_button:hover {
  background-color: rgb(35, 68, 149);
  border: solid 2px rgb(35, 68, 149);
  color: white;
  margin-right: 0.4em;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.center_wrapper {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
.page_title {
  margin: .5em;
}
.profile_img {
  width: 20em;
  box-shadow: 0 8px 29px -6px black;
  margin-top: 1em;
}
.shadow_box {
  background-color: white;
  box-shadow: 0 8px 29px -6px black;
  padding: 4em;
  text-align: left;
}
.main_title {
  color: rgb(35, 68, 149);
  font-size: 5em;
  text-shadow: -4px 3px 49px white;
}
.sub_title {
  font-size: 2em;
}

/************************Responsive Web Page Section***************************/
@@media only screen and (min-width: 320px) {
  .center_wrapper {
    /*margin-left: auto;
    margin-right: auto;*/
    width: 90%;
  }
}
